---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import TestimonialCard from "../components/TestimonialCard.astro";
import avatar from "../assets/sarah-dole.png";
---

<Layout title="Welcome to Astro.">
  <div
    class="min-h-screen md:min-h-[1024px] min-w-[375px] md:min-w-[768px] xl:min-h-[768px] xl:min-w-[1024px] flex flex-col items-center md: mx-0 my-auto bg-gradient-to-b from-gray-50 to-[#d2d6db] py-[200px] px-[17.5px]"
  >
    <TestimonialCard
      name="Sarah Dole"
      username="@sarahdole"
      body="I've been searching for high-quality abstract images for my design projects, and I'm thrilled to have found this platform. The variety and depth of creativity are astounding!"
    >
      <Image src={avatar} alt="Sarah Dole" slot="image" loading={"eager"} />
    </TestimonialCard>
  </div>
</Layout>
